html {
	--sans: -apple-system, BlinkMacSystemFont, system-ui, sans-serif;
}

.element {
	font-family: var(--system-ui);
}

/* reset bootstrap containers  */
@media (min-width: 1200px) {

	.container,
	.container-lg,
	.container-md,
	.container-sm,
	.container-xl {
		max-width: 1024px;
	}
}

@media (min-width: 1400px) {

	.container,
	.container-lg,
	.container-md,
	.container-sm,
	.container-xl {
		max-width: 1024x;
	}
}

html,
body {
	overflow-x: hidden;
	font-size: 1.0rem;
	font-family: var(--sans);
}

div.top div.row {
	margin: 0px;
}

body {
	background: #FFFFFF;
	background-size: 200% 100%;
	background-attachment: scroll;
}

p,
li {
	color: #626266;
}

a:hover,
a#contact {
	color: #E15928;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--bs-dark);
	font-weight: 800;
}

h1 {
	color: black;
}

h1 span {
	display: none;
}

h2 {
	color: black;
	font-size: 2rem;
	line-height: 2.5rem;
}

h4 span,
h2 span {
	color: #48A76A;
}

h3 {
	font-size: 2rem;
	line-height: 2.5rem;
}

ul.icons div h4,
ul.icons div p {
	display: inline;
}

ul.media {
	cursor: default;
	padding-left: 0;
	text-align: right;
}

ul.media li {
	list-style: none;
	display: inline-block;
	margin-left: 1.25rem;
}

ul.media a {
	text-decoration: none;
	display: inline-block;
	vertical-align: middle;
}

ul.media a:hover span {
	text-decoration: underline;
}

ul.media a:hover img {
	transform: scale(1.2);
}

ul.media li a img {
	height: 20px;
	display: block;
	transition: transform 0.2s;
}

ul.media li.assets a {
	width: auto;
}

ul.media li.assets a:hover {
	background: none;
}

ul.media li a span {
	display: none;
}

ul.media li.assets a span {
	display: inline-block;
	color: black;
	font-weight: 700;
	font-size: 0.93rem;
	margin-top: 0.2rem;
	margin-left: 0.325rem;
	margin-right: -0.3rem;
	padding: 0 0.3rem;
}

a.download {
	display: inline-block;
}

a.download img {
	transition: transform 0.2s;
	height: 3.75rem;
	margin-top: 1.0em;
	margin-bottom: 1.0em;
}

a.download:hover img {
	cursor: pointer;
	transform: scale(1.05);
}

footer a.download:hover img {
	transform: scale(1.03);
}

body.simple {
	background: #FFFFFF;
}

body.simple h1 {
	color: var(--bs-dark);
}

body.simple h2 {
	color: var(--bs-dark);
	padding-top: 3rem;
	padding-bottom: 2rem;
	font-size: 2.625rem;
}

body.simple h3 {
	margin-top: 2rem;
}

/* Top Area (Header + Hero)  */

div.top h1 {
	cursor: default;
	font-size: 1.5rem;
	line-height: 2.4rem;
}

div.top h1 span {
	font-size: 1.4375rem;
	font-weight: 300;
}

div.top h1 img {
	height: 2.25rem;
	vertical-align: top;
}

div.top img.appstore_top {
	height: 3.75rem;
}

div.top p {
	color: #3f3f3f;
}


/* app logo */
div.hero>picture.image-container {
	display: flex;
	justify-content: left;
	margin-top: 10%;
	margin-bottom: 4%;
	vertical-align: 0;
	height: 128px;
}

/* smallest size */

div.heroimage img {
	width: min(98vw, 300px);
	margin-top: 10%;
}

a.download img {
	transition: transform 0.2s;
	height: 2.75rem;
	margin-top: 1.0em;
}

div.proposition img,
div.features img,
div.appearance img {
	width: 90%;
	margin-top: 0%;
	margin-bottom: 1em;
}

h2 {
	font-size: 1.75rem;
	line-height: 2.5rem;
}

h3 {
	font-size: 1.5rem;
	line-height: 2.0rem;
}

h4 {
	font-size: 1.0rem;
	line-height: 2.0rem;
	color: #3f3f3f;
	font-weight: 600;
}

p {
	font-size: 1.0rem;
	line-height: 1.4rem
}

ul.icons {
	padding-left: 0%;
	margin-left: 1em;
	/* padding-right: 20px; */
	list-style: none;
}

li {
	margin-top: 1em;
}

div.proposition,
div.features,
div.appearance {
	padding-top: 2em;
	padding-bottom: 2em;
}

/* end of smallest size */


@media (min-width: 768px) {

	div.heroimage img {

		width: min(90vw, 300px);
		/* height: 500px; */
		margin-top: 10%;
		padding-right: 25%;
	}

	div.proposition img,
	div.features img,
	div.appearance img {
		width: 100%;
	}

	h4 {
		font-size: 1.2rem;
		line-height: 2.0rem;
		color: #3f3f3f;
		font-weight: 600;
	}

	p {
		font-size: 1.2rem;
		line-height: 1.75rem
	}

	ul.icons {
		padding-left: 0%;
		margin-left: 0em;
		list-style: none;
	}

	div.proposition,
	div.features,
	div.appearance {
		padding-top: 2em;
		padding-bottom: 2em;
	}
}

@media (min-width: 992px) {

	div.heroimage img {

		width: min(90vw, 360px);
		margin-top: 10%;
		padding-right: 25%;
	}

}



/* proposition */

div.proposition,
div.features {
	background: #F0F0F0;
	background: linear-gradient(180deg, #fafafa 0%, #FFFFFF 100%), #FFFFFF;
}


div.appearance {
	background: #101010;
	background: linear-gradient(180deg, #101010 0%, #222 100%), #FFFFFF;
	color: #f0f0f0;
}

div.appearance p {
	color: #f0f0f0;
}

div.appearance h4 {
	color: #ffffff;
}


/* footer */

body.simple footer {
	background: none;
}

footer.trio h3 {
	font-size: 2.375rem;
	line-height: 3.5rem;
	color: rgb(234, 234, 234);
	font-weight: 700;
	width: 18rem;
}

footer.trio h3 img {
	height: 3.375rem;
}

div.socials {
	display: flex;
	justify-content: end;
}

footer.trio a {
	text-decoration: underline;
	transition: color 0.25s;
}

footer.trio a img {
	max-height: min(25vw, 115px);
}

footer span:first-child {
	cursor: default;
}

footer.trio div.container {
	height: 320px;
	display: flex;
	justify-content: center;
}

footer.trio {
	background: #181818;
	background-size: 150vw auto;
	background-position: 40% center;
	background-attachment: all;
}

@media (min-width: 768px) {

	footer.trio {
		background-position: 45% center;
		background-size: auto 320px;
		background-attachment: all;
	}

	footer.trio h3 {
		font-size: 3rem;
		line-height: 4.375rem;
		width: auto;
	}

	footer.trio div.container {
		height: 320px;
		display: flex;
		justify-content: center;
	}

}

@media (min-width: 992px) {
	footer.trio {
		background-position: center center;
	}
}

footer ul.media {
	text-align: center;
}

footer p,
footer a {
	font-size: 0.875rem;
	color: #d5d5d5;
}

body.simple footer p,
body.simple footer a {
	color: var(--bs-dark);
	;
}


footer div.eu {
	background: #d5d5d5;
}

footer div.eu a {
	text-decoration: none;
	color: #aeaeb2;
}

footer div.eu a:hover {
	text-decoration: underline;
}